.main-heading
{
    text-align: center;
    font-size: 5rem;
}

.main-body-1
{
    display:flex;
    border: 3px solid black;
}
.border
{
    padding :12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.border > h2 {
    text-align: center;
}
.main-body-1-sub-2
{
border-left : 2px solid black;
border-right : 2px solid black;
width:50%;
}
.main-body-1-sub-1
{
width : 25%;
}
.main-body-1-sub-3
{
width : 25%;
}
.sub-2
{
display:flex;
border: 3px solid black;
}
.s1 
{
    width :25%;
    border-right : 2px solid black;
    padding :12px;
}
.s2{
    width:75%;
    /* padding : 12px; */
    display :flex;
    flex-direction: column;
    justify-content: space-around;
    font-size : 2rem;
}

.s2 > div {
    padding: 12px;
}
.yellow
{
    background-color: yellow;
}
.cyan
{
    background-color: cyan;
}
.green
{
    background-color: green;
}
.blue
{
    background-color: blue;
}
.purple
{
    background-color: purple;
}